/*              Seção Comunicação                        */

#comunicacao {
    flex-wrap: wrap;
}
#comunicacaoColunaUm img {
    margin-bottom: 20px;
    width: min(60vw, 300px);
}
#comunicacaoColunaUm {
    width: 100%;
}
#comunicacaoColunaDois {
    width: 100%;
}

@media screen and (max-width: 302px) {
    #comunicacaoColunaDois #spanEmail p {
        width: 100%;
        text-align: center;
    }
    #comunicacaoColunaDois #spanEmail .iconsContato {
        margin-right: 0px;
    }
}