/*              Seção Comunicação                        */

#comunicacao {
    flex-wrap: wrap;
}
#comunicacaoColunaUm img {
    margin-bottom: 20px;
    width: min(60vw, 300px);
}
#comunicacaoColunaUm {
    width: 100%;
}
#comunicacaoColunaDois {
    width: 100%;
}
#comunicacaoColunaDois #spanEmail p {
    font-size: 2rem;
}#comunicacaoColunaDois span p {
    font-size: 2.1rem;
}