/*               Header                  */

header {
    height: 100vh;
    max-height: 800px;
    padding-left: 1vw;
    background-image: url(../../recursos/imagens/fundoComunicacao.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid white;
}
header nav a:hover {
    border-bottom: 3px solid var(--cor-principal-contato);
    color: var(--cor-principal-contato);
}

/*               Primeira tela                  */

#primeiraTela h1 {
    filter: drop-shadow(5px 4px 2px rgba(0, 0, 0, 0.4));
    margin-top: min(40vh, 480px);
    font-size: 5rem;
    line-height: 70px;
}


/*              Seção Comunicação                        */

#comunicacao {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90vW;
    padding: 100px 0px 100px 0px;
}
#comunicacaoColunaUm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}
#comunicacaoColunaUm h2 {
    text-align: left;
    width: 100%;
    color: var(--cor-principal-contato);
}
#comunicacaoColunaUm img {
    margin-top: 20px;
    height: auto;
    width: 27vw;
}
#comunicacaoColunaDois {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}
#comunicacaoColunaDois a {
    width: 85%;
}
#comunicacaoColunaDois span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 70px;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--cor-principal-contato);
    border-radius: 15px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}
#comunicacaoColunaDois span:hover {
    transform: translateY(-3px);
    border-color: #c0c0c0;
}
#comunicacaoColunaDois span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(219, 219, 219, 0.1);
    z-index: -1;
    opacity: 0;
    transition: width 1.4s ease;
}
#comunicacaoColunaDois span:hover::before {
    opacity: 1;
    width: 100%;
}
#comunicacaoColunaDois span p {
    font-family: 'Teko', sans-serif;
    font-size: 1.8rem;
}
#comunicacaoColunaDois #spanEmail {
    width: 85%;
}
#comunicacaoColunaDois #spanEmail p {
    font-size: 1.7rem;
}
.iconsContato {
    display: inline;
    height: 30px;
    width: auto;
    margin-right: 10px;
}
#brakeEmail {
    display: none;
}


