/*               Header                  */

header {
    background-image: url(../../recursos/imagens/fundoProjeto.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid white;
}
#divEscurecida {
    width: 100%;
    height: 100%;
    padding-left: 1vw;
    background-image: linear-gradient(to right, black 0%, transparent 50%, transparent 100%);
}

/*               Primeira tela                  */

#primeiraTela h1 {
    filter: drop-shadow(5px 4px 2px black);
    margin-top: min(35vh, 400px);
    max-width: 50vw;
    font-size: 5rem;
    line-height: 70px;
}


/*                seção Projetos                  */

#sececaoProjetos {
    margin: auto;
    width: 100%;
}
.projetos {
    display: flex;
    width: 100%;
    padding-top: 150px;
}
.projetosEsquerda {
    padding-left: 5%;
}
.projetosDireita {
    padding-right: 5%;
    flex-direction: row-reverse;
}
.projetosEsquerda .colTexto {
    padding-right: 7%;
}
.projetosDireita .colTexto {
    padding-left: 7%;
}
.colTexto {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 63%;
}
.colTexto h2 {
    margin-bottom: 30px;
    line-height: 40px;
}
.colTexto p {
    margin-bottom: 30px;
}
.colImagem {
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteinerImagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(25vw, 600px);
    height: 25vw;
    border-radius: 15px;

}
.colImagem img {
    width: 20vw;
    height: auto;
}
.colImagem img.imgPequena {
    width: 24vw;
}
.linkProjetos {
    transition: color 0.5s;
}
.linkProjetos:hover {
    color: var(--cor-titulo-padrão);
}


/*                seção ver mais                */
 
#artVerMais {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    padding: 150px 0px;
}
#verMaisColUm {
    width: 60%;
}
#artVerMais img {
    width: 25%;
    padding-left: 5%;
}
#artVerMais a {
    color: var(--cor-titulo-padrão);
}